<div class="flex flex-col bottom-0 md:right-4 fixed px-4 md:w-96 w-full rounded-t-xl bg-zinc-800 text-white"
    [ngClass]="aberto ? 'h-8/12 pt-8' : 'h-20 pt-2'">
    <div class="flex flex-row gap-4 pb-2 cursor-pointer" (click)="abrirFechar()">
        <img src="images/alexandre.png" class="w-16 border border-purple-800 rounded-full">
        <div class="flex flex-col justify-center">
            <div class="text-2xl ">
                Alexandre Santos
            </div>
            <div class="text-sm">
                Converse com minha IA
            </div>
        </div>
    </div>
    <div class="flex flex-col-reverse overflow-y-auto" *ngIf="aberto">
        <div *ngFor="let chat of chats" class="flex flex-col pt-4">
            <div class="flex flex-row justify-end">
                {{chat.pergunta}}
            </div>
            <div class="flex flex-row pt-2">
                {{chat.resposta}}
            </div>
            <div *ngIf="!chat.carregando" class="flex flex-row border-b-1 pb-4 w-full border-b-neutral-600"></div>
        </div>
    </div>
    <div *ngIf="carregando" class="flex flex-row justify-center w-16">
        <mat-spinner></mat-spinner>
    </div>
    <mat-form-field appearance="fill" class="flex flex-row w-full bg-zinc-800 bottom-" (keyup.enter)="perguntar()"
        *ngIf="aberto">
        <mat-label>Faça perguntas sobre mim...</mat-label>
        <input matInput [formControl]="pergunta_input" placeholder="Faça uma pergunta">
        <mat-icon matSuffix class="cursor-pointer" (click)="perguntar()">send</mat-icon>
    </mat-form-field>
</div>