<div class="flex flex-col md:flex-row">
    <div class="flex flex-col bg-zinc-800 md:w-1/4 md:h-screen">
        <div class="flex flex-row items-center justify-center pt-5">
            <img src="images/alexandre.png" class="w-40 rounded-full">
        </div>
        <div class="flex flex-col items-center justify-center py-5 px-4 gap-3">
            <button (click)="navegaGithub()"
                class="bg-zinc-950 hover:bg-zinc-900 text-white font-medium py-2 rounded w-full cursor-pointer">
                Github
            </button>
            <button (click)="navegaLinkedin()"
                class="bg-blue-700 hover:bg-blue-500 text-white font-medium py-2 px-4 rounded w-full cursor-pointer">
                Linkedin
            </button>
            <button (click)="navegaWhatsapp()"
                class="bg-green-400 hover:bg-green-500 text-white font-medium py-2 px-4 rounded w-full cursor-pointer">
                Whatsapp (31) 99470-9183
            </button>
            <button (click)="navegaLocalidade()"
                class="bg-orange-400 hover:bg-orange-500 text-white font-medium py-2 px-4 rounded w-full cursor-pointer">
                Localidade
            </button>
            <button (click)="navegaCurriculo()"
                class="bg-purple-700 hover:bg-purple-500 text-white font-medium py-2 px-4 rounded w-full cursor-pointer">
                Currículo
            </button>
            <button (click)="navegaEmail()"
                class="bg-blue-500 hover:bg-blue-700 text-white font-medium py-2 px-4 rounded w-full cursor-pointer">
                {{ email }}
            </button>
        </div>
    </div>


    <div class="flex flex-col p-8 md:w-3/4 md:h-screen md:overflow-y-scroll">
        <div class="flex flex-row text-4xl">
            Alexandre Santos
        </div>
        <div class="flex flex-row text-xl text-gray-700 font-light">
            Desenvolvedor FullStack
        </div>
        <app-conversa></app-conversa>
        <div class="flex flex-row pt-8 text-md text-gray-600 font-light">
            Sou desenvolvedor full stack com mais de 5 anos de experiência em programação, tendo atuado em
            diferentes tecnologias, projetos e segmentos. Trabalho com stacks como Python, Django, JavaScript,
            Node.js, Angular, Vue.js e Java, sempre com foco em entregar soluções robustas, escaláveis e centradas
            na experiência do usuário.
        </div>
        <div class="flex flex-row pt-1 text-md text-gray-600 font-light">
            Atuo de forma proativa e orientada a resultados, com facilidade para entender as necessidades do cliente
            e transformá-las em soluções eficientes. Acredito que a tecnologia deve ser acessível, funcional e
            evolutiva — por isso, estou em constante aprendizado e atento às tendências do mercado.
        </div>
        <div class="flex flex-row pt-1 text-md text-gray-600 font-light">
            Ao longo da minha trajetória, participei da criação de diversos produtos digitais, incluindo o PxNutri,
            um software voltado para nutricionistas e profissionais da área da saúde, que foi desenvolvido por mim e
            minha esposa Pâmela. O Sistema Único de Cadastro e Encaminhamento para Matrícula (SUCEM) da Secretaria
            de Estado de Educação de Minas Gerais (SEE/MG). O sistema Assist que é uma ferramenta para assistência
            Agrícola. Entre outros sistemas.
        </div>
        <div class="flex flex-row pt-1 text-md text-gray-600 font-light">
            Gosto de desafios que exigem criatividade, pensamento estratégico e capacidade de adaptação. Me motiva
            ver ideias ganhando vida por meio do código e contribuindo para a evolução de negócios e pessoas.
        </div>

        <div class="flex flex-col md:grid md:grid-cols-2 gap-4 pt-4">
            <mat-card class="flex flex-col justify-stretch p-4">
                <img src="images/pxnutri.png" class="w-full cursor-pointer" (click)="navegaPxnutri()">
                <div class="flex flex-row text-xl pt-2 text-gray-800 font-light">
                    Pxnutri
                </div>
                <div class="flex flex-row text-md pt-2 text-gray-600 font-light">
                    Sistema para nutricionistas
                </div>
                <div class="flex flex-row py-1 text-sm text-gray-600 font-light">
                    O PxNutri é um software de automação desenvolvido por mim e minha esposa Pâmela com muito
                    carinho, o criamos para proporcionarmos praticidade, agilidade e organização. Nós facilitamos a
                    comunicação entre nutricionista e cliente.
                    Através desta ferramenta, o nutricionista consegue acompanhar com
                    mais facilidade o tratamento do paciente. Ele tem vantagens e recursos exclusivos para melhor
                    experiência tecnológica para Nutricionistas e Pacientes.
                    Foi feito utilizando Python e Angular
                </div>
                <button (click)="navegaPxnutri()"
                    class="bg-blue-500 hover:bg-blue-700 text-white font-medium py-2 px-4 rounded w-full cursor-pointer">
                    Visualizar sistema
                </button>
            </mat-card>
            <mat-card class="flex flex-col justify-between p-4">
                <img src="images/diagrama.png" class="w-full cursor-pointer" (click)="navegaDiagrama()">
                <div class="flex flex-row text-xl pt-2 text-gray-800 font-light">
                    Diagrama
                </div>
                <div class="flex flex-row text-md pt-2 text-gray-600 font-light">
                    Sistema de diagrama 'UML'
                </div>
                <div class="flex flex-row py-1 text-sm text-gray-600 font-light">
                    Esboço de um diagrama com scroll de tela e conexão de tabelas do modelo entidade-relacionamento no
                    html utilizando apenas angular e ngx-leader-line para tal finalidade.
                    Potencial programa para utilização de modelagem interna dos sistemas criados pela PxTech.
                </div>
                <button (click)="navegaDiagrama()"
                    class="bg-blue-500 hover:bg-blue-700 text-white font-medium py-2 px-4 rounded w-full cursor-pointer">
                    Visualizar sistema
                </button>
            </mat-card>
            <mat-card class="flex flex-col justify-between p-4">
                <img src="images/pontuei.png" class="w-full cursor-pointer" (click)="navegaPxnutri()">
                <div class="flex flex-row text-xl pt-2 text-gray-800 font-light">
                    Pontuei
                </div>
                <div class="flex flex-row text-md pt-2 text-gray-600 font-light">
                    Sistema de pontuação (placar)
                </div>
                <div class="flex flex-row py-1 text-sm text-gray-600 font-light">
                    O Pontuei é um sisteminha pessoal que utiliza angular e django para registrar o placar de forma
                    virtual de uma partida de jogos de baralho, tabuleiro e outros.
                </div>
                <button (click)="navegaPontuei()"
                    class="bg-blue-500 hover:bg-blue-700 text-white font-medium py-2 px-4 rounded w-full cursor-pointer">
                    Visualizar sistema
                </button>
            </mat-card>
        </div>
    </div>
</div>