<mat-drawer-container class="w-full h-full">
    <mat-drawer mode="side" opened class="sem-arredondamentos">
        <div class="flex flex-col bg-zinc-800 w-full h-full">
            <div class="flex flex-row items-center justify-center pt-5">
                <img src="images/alexandre.png" class="w-40 rounded-full">
            </div>
            <div class="flex flex-col items-center justify-center pt-5 gap-3">
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-medium py-2 px-4 rounded w-80 cursor-pointer">
                    Button
                </button>
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-medium py-2 px-4 rounded w-80 cursor-pointer">
                    Button
                </button>
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-medium py-2 px-4 rounded w-80 cursor-pointer">
                    Button
                </button>
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-medium py-2 px-4 rounded w-80 cursor-pointer">
                    Button
                </button>
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-medium py-2 px-4 rounded w-80 cursor-pointer">
                    Button
                </button>
            </div>
        </div>
    </mat-drawer>
    <mat-drawer-content>
        <div class="p-8">
            <div class="flex flex-row text-4xl">
                Alexandre Santos
            </div>
            <div class="flex flex-row text-xl text-gray-600 font-light">
                Desenvolvedor FullStack
            </div>
            <div class="flex flex-row pt-8 text-md text-gray-600 font-light">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </div>
        </div>
    </mat-drawer-content>
</mat-drawer-container>